/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Button */
button {
  border: none;
  background-color: transparent;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: rgb(102, 102, 102);
}

i {
  color: gray;
  font-size: 4em;
}

/* Book */
.book {
  width: 350px;
  height: 500px;
  position: relative;
  transition: transform 0.5s;
}

.paper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front {
  backface-visibility: hidden;
  border-left: 3px solid #390101;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4b2113; */
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Customization */

.img-fluid {
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .book {
    margin-top: 15vh !important;
    margin-bottom: 15vh !important;
    width: 180px;
    height: 250px;
  }

  i {
    font-size: 2em;
  }
  button {
    margin: 5px;
  }
}
