header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(243, 243, 237);
  padding: 260px 0;
}
h1 {
  text-transform: capitalize;
  font-family: "Sancreek", cursive;
  text-align: center;
  line-height: 1.5;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
