header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(243, 243, 237);
  padding: 10px 0 280px 0;
  text-align: center;
}
h1 {
  text-transform: capitalize;
  font-family: "Sancreek", cursive;
  font-size: 48px;
  line-height: 1.5;
}
h3 {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 240px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  header {
    padding: 50px 0 90px 0;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 12px;
    margin-bottom: 60px;
  }
}
